* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/**FUNCTIONS**/

.hide {
    display: none;
}

.show {
    position: fixed;
    z-index: 1;
    right: 0;
    height: 100vh;
    width: 20%;

}

.show:hover+.hide {
    display: block;
}


/**NAV-BAR*/
.nav-bar {
    position: fixed;
    transform: translateY(50%);
    right: 2%;
    z-index: 9999;

}

.nav-bar:hover {
    display: block;
}



.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}
.nav-li{
    background-color: rgba(255, 255, 255, 0.534);
}
.nav-bar li {
    text-align: center;
    padding: 4px 8px;
    border-radius: 25px;
    margin: 4px 5px;
    list-style: none;
    width: 100%;
}

.nav-bar li:hover {
    background-color: white;
}
.active-li{
    background-color: white;
}

.nav-item-holder {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 12rem;
}



.nav-item-holder:hover .nav-circle-inside {
    background-color: white;
    height: 80%;
    width: 90%;
    border-radius: 50%;
}


.nav-circle-hover {
    border: 2px solid white;
    height: 16px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**NAV-BAR*/


#start {
    background-image: url("/public/assets/images/firstsection.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start .social-media-buttons-holder {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

#start .social-media-buttons-holder a {
    text-decoration: none;
}

.social-media-buttons-holder li {
    list-style: none;
}

#start .logo-holder {
    width: 30%;
}

#start img {
    width: 100%;
}

#start .subtitle {
    width: 40%;
    text-align: center;
    font-size: 2rem;
    /* font shadow */
    text-shadow: 2px 4px 2px rgb(255, 255, 255);
}

#start .version-holder {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* CONSUMIDORES */
#know-us {
    position: relative;
    background-image: url("/public/assets/images/backgrounds/secondsection.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#know-us .page-title img {
    position: absolute;
    left: 0;
    top:0;
    margin: 2%;
}

#know-us .subtitle {
    width: 60%;
    margin-top: 5%;
    text-align: center;
    font-size: 2rem;
    color: #FA8834;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}


/* SLIDER */
.slider {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    

}
#know-us .img-holder {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-img {
    width: 100vh;
}
.slider-fade{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacityFadeIn 0.8s ease-in;
}
@keyframes opacityFadeIn{ 
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.prev-slider, .next-slider {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.dot {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.dot:hover {
    background-color: #717171;
}
.active{
    background-color: red;
}
/*SLIDER*/


/* CONSUMIDORES */
#consumers {
    position: relative;
    background-image: url("/public/assets/images/backgrounds/thirdsection.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#consumers .subtitle {
    z-index: 9999;
    position: absolute;
    top: 0;
    width: 60%;
    margin-top: 5%;
    text-align: center;
    font-size: 2rem;
    color: #FA8834;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

#consumers .page-title {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top:0;
    margin: 2%;
}
#consumers .page-title span{
    margin-left: 6px;
    font-size: 1.5rem;
    color: white;
}

#consumers .wrapper{
    position: absolute;
    bottom: 5%;
    z-index: 999;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    width: 90%;
    overflow-x: hidden;
    border-radius: 4px;
    margin-top: 10rem;
    background-color: rgba(255, 255, 255, 0.103);
    padding: 1%;
}
#consumers .wrapper ul{
    color: white;
    border-radius: 4px;
    background-color: rgba(27, 24, 24, 0.671);
    padding: 1.5rem;
    margin-left: 2rem;

}
#consumers .wrapper li{
    text-align: center;
    width: 14rem;
    height: 1.5rem;
}
#consumers img{
    position: absolute;
}
#consumers .image-1{
    left: 15%;
    top: 15%;
    z-index: 10;
    width: 30%;
}

#consumers .image-2{
    z-index: 9;
    width: 30%;
}
#consumers .image-3{
    width: 30%;
    right: 15%;

}

/*CONSUMIDORES*/

/*LOJISTAS*/
#shopkeepers {
    position: relative;
    background-image: url("/public/assets/images/backgrounds/firstsection.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shopkeepers img{
    position: absolute;
}
#shopkeepers .image-1{
    left: 5%;
    top: 10%;
    width: 22rem;
}
#shopkeepers .image-2{
    z-index: 999;
    width: 33rem;
}
#shopkeepers .image-3{
    right: 5%;
    top: 20%;
    width: 22rem;
}
#shopkeepers .image-4{
    width: 10%;
    bottom: 5%;
}
#shopkeepers .list-holder{
    position: absolute;
    right: 5%;
    bottom: 5%;
}
#shopkeepers .list-holder li{
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}